In [45]:
import json


with open('object_list.json') as json_file:
    json_data = json.load(json_file)
    file_name_list = list(json_data)
    print(file_name_list)
    file_1 = json_data[file_name_list[0]]
    obj_count = list(file_1)
    print(file_1)
    print(obj_count)
    info_1 = file_1['0']
    print(info_1['obj'])
    print(info_1['name'])
    print(info_1['score'])
    print(info_1['bbox'][0])

['test_01.jpg', 'test_02.jpg', 'test_03.jpg', 'test_04.jpg', 'test_05.jpg', 'test_06.jpg', 'test_07.jpg']
{'0': {'obj': 6, 'name': 'bottle', 'score': 0.9989, 'bbox': [62.279999999999994, 900.864, 263.66400000000004, 1190.784], 'size': [1280, 720]}, '1': {'obj': 1, 'name': 'hand', 'score': 0.9819, 'bbox': [196.84799999999998, 537.472, 719.496, 1267.456], 'size': [1280, 720]}, '2': {'obj': 2, 'name': 'grab_bottle_hand', 'score': 0.8719, 'bbox': [176.84799999999998, 527.472, 739.496, 1367.456], 'size': [1280, 720]}, '3': {'obj': 3, 'name': 'face', 'score': 0.9219, 'bbox': [196.84799999999998, 537.472, 719.496, 1267.456], 'size': [1280, 720]}, '4': {'obj': 1, 'name': 'hand', 'score': 0.7777, 'bbox': [296.84799999999996, 337.472, 619.496, 1467.456], 'size': [1280, 720]}}
['0', '1', '2', '3', '4']
6
bottle
0.9989
62.279999999999994

In [50]:
import json
import pandas as pd
import numpy as np

'''bbox[0] = 'ymin'
   bbox[1] = 'xmin'
   bbox[2] = 'ymax'
   bbox[3] = 'xmax'
# 0: ymin, 1: xmin, 2: ymax, 3: xmax'''
colum_list = ['filename', 'width', 'height', 'obj_name', 'xmin', 'ymin', 'xmax', 'ymax', 'score', 'obj_idx']

# row_list = []

# per_file_per_object_info_list = []

df = pd.DataFrame(columns=colum_list)


with open('object_list.json') as json_file:
    json_data = json.load(json_file)
    file_name_list = list(json_data)         
    for filename in file_name_list:
        print(filename)
        '''파일 1개당 json 정보'''
        '''case_1: json 정보 있는 경우 _ case_2: json 정보 없는 경우'''
        file_json_info = json_data[filename]
        if not file_json_info:
                obj_name = 'Null'
                obj_idx = 'Null'
                score = 'Null'
                ymin = 'Null'
                xmin = 'Null'
                ymax = 'Null'
                xmax = 'Null'
                width = 'Null'
                height = 'Null'
                df = df.append(pd.DataFrame([[filename, width, height, obj_name, xmin, ymin, xmax, ymax, score, obj_idx]], columns=colum_list), ignore_index=True)
        else:
            print(file_json_info)
            '''파일 1개당 감지된_되어야하는_object 갯수'''
            obj_cnt_list = list(file_json_info)
            '''per_obj_cnt 수정 필요'''
            per_obj_cnt = len(obj_cnt_list)
            for i in obj_cnt_list:
                final_info = file_json_info[i]
                try:
                    obj_name = final_info['name']
                    obj_idx = final_info['obj']
                    score = final_info['score']
                    ymin = final_info['bbox'][0]
                    xmin = final_info['bbox'][1]
                    ymax = final_info['bbox'][2]
                    xmax = final_info['bbox'][3]
                    width = final_info['size'][0]
                    height = final_info['size'][1]
                    df = df.append(pd.DataFrame([[filename, width, height, obj_name, xmin, ymin, xmax, ymax, score, obj_idx]], columns=colum_list), ignore_index=True)
                except:
                    pass

        
        
        '''(위에서 json 정보 없는 경우에서 걸러짐) case_1: object 있는경우 // case_2: object 없는 경우'''
        
        '''json 내 obj, name, score, bbox, size'''

test_01.jpg
{'0': {'obj': 6, 'name': 'bottle', 'score': 0.9989, 'bbox': [62.279999999999994, 900.864, 263.66400000000004, 1190.784], 'size': [1280, 720]}, '1': {'obj': 1, 'name': 'hand', 'score': 0.9819, 'bbox': [196.84799999999998, 537.472, 719.496, 1267.456], 'size': [1280, 720]}, '2': {'obj': 2, 'name': 'grab_bottle_hand', 'score': 0.8719, 'bbox': [176.84799999999998, 527.472, 739.496, 1367.456], 'size': [1280, 720]}, '3': {'obj': 3, 'name': 'face', 'score': 0.9219, 'bbox': [196.84799999999998, 537.472, 719.496, 1267.456], 'size': [1280, 720]}, '4': {'obj': 1, 'name': 'hand', 'score': 0.7777, 'bbox': [296.84799999999996, 337.472, 619.496, 1467.456], 'size': [1280, 720]}}
test_02.jpg
test_03.jpg
test_04.jpg
test_05.jpg
test_06.jpg
{'0': {'obj': 1, 'name': 'hand', 'score': 0.9833, 'bbox': [23.5656, 5.925120000000001, 720.0, 652.0319999999999], 'size': [1280, 720]}}
test_07.jpg

In [62]:
df['per_obj_cnt'] = np.where(df['obj_idx'] != 'Null' , '1', '0')
df['model'] = 'answer_120'

In [63]:
df

,filename,width,height,obj_name,xmin,ymin,xmax,ymax,score,obj_idx,per_obj_cnt,model,obj_sum_cnt
0,test_01.jpg,1280,720,bottle,900.864,62.28,1190.78,263.664,0.9989,6,1,answer_120,1
1,test_01.jpg,1280,720,hand,537.472,196.848,1267.46,719.496,0.9819,1,1,answer_120,2
2,test_01.jpg,1280,720,grab_bottle_hand,527.472,176.848,1367.46,739.496,0.8719,2,1,answer_120,3
3,test_01.jpg,1280,720,face,537.472,196.848,1267.46,719.496,0.9219,3,1,answer_120,4
4,test_01.jpg,1280,720,hand,337.472,296.848,1467.46,619.496,0.7777,1,1,answer_120,5
5,test_02.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
6,test_03.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
7,test_04.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
8,test_05.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
9,test_06.jpg,1280,720,hand,5.92512,23.5656,652.032,720,0.9833,1,1,answer_120,1
10,test_07.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1

In [64]:
'''특정 column 날리기'''
df = df.drop('obj_sum_cnt', axis=1)

In [65]:
df

,filename,width,height,obj_name,xmin,ymin,xmax,ymax,score,obj_idx,per_obj_cnt,model
0,test_01.jpg,1280,720,bottle,900.864,62.28,1190.78,263.664,0.9989,6,1,answer_120
1,test_01.jpg,1280,720,hand,537.472,196.848,1267.46,719.496,0.9819,1,1,answer_120
2,test_01.jpg,1280,720,grab_bottle_hand,527.472,176.848,1367.46,739.496,0.8719,2,1,answer_120
3,test_01.jpg,1280,720,face,537.472,196.848,1267.46,719.496,0.9219,3,1,answer_120
4,test_01.jpg,1280,720,hand,337.472,296.848,1467.46,619.496,0.7777,1,1,answer_120
5,test_02.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120
6,test_03.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120
7,test_04.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120
8,test_05.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120
9,test_06.jpg,1280,720,hand,5.92512,23.5656,652.032,720,0.9833,1,1,answer_120
10,test_07.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120

In [80]:
df['result_per_obj_id_int'] = df.groupby(['filename','per_obj_cnt']).cumcount()+1

In [82]:
df['result_per_obj_id_str'] = df['result_per_obj_id_int']

In [87]:
df['result_per_obj_id_str'] = df['result_per_obj_id_str'].apply(str)

In [100]:
'''
str 형태만 결합할 수 있음, int형태는 결합 안 됨
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/
'''

df['primary_key'] = df.apply(lambda row: row.model + row.filename+ row.result_per_obj_id_str , axis=1)

In [95]:
df

,filename,width,height,obj_name,xmin,ymin,xmax,ymax,score,obj_idx,per_obj_cnt,model,result_per_obj_id_int,result_per_obj_id_str,primary_key
0,test_01.jpg,1280,720,bottle,900.864,62.28,1190.78,263.664,0.9989,6,1,answer_120,1,1,answer_120test_01.jpg1
1,test_01.jpg,1280,720,hand,537.472,196.848,1267.46,719.496,0.9819,1,1,answer_120,2,2,answer_120test_01.jpg2
2,test_01.jpg,1280,720,grab_bottle_hand,527.472,176.848,1367.46,739.496,0.8719,2,1,answer_120,3,3,answer_120test_01.jpg3
3,test_01.jpg,1280,720,face,537.472,196.848,1267.46,719.496,0.9219,3,1,answer_120,4,4,answer_120test_01.jpg4
4,test_01.jpg,1280,720,hand,337.472,296.848,1467.46,619.496,0.7777,1,1,answer_120,5,5,answer_120test_01.jpg5
5,test_02.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120test_02.jpg1
6,test_03.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120test_03.jpg1
7,test_04.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120test_04.jpg1
8,test_05.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120test_05.jpg1
9,test_06.jpg,1280,720,hand,5.92512,23.5656,652.032,720,0.9833,1,1,answer_120,1,1,answer_120test_06.jpg1
10,test_07.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120test_07.jpg1

In [96]:
df['primary_key'].replace(['.jpg'], '_jpg_', regex=True, inplace=True)

In [98]:
df['primary_key'].replace(['answer_120'], 'answer_120_', regex=True, inplace=True)

In [99]:
df

,filename,width,height,obj_name,xmin,ymin,xmax,ymax,score,obj_idx,per_obj_cnt,model,result_per_obj_id_int,result_per_obj_id_str,primary_key
0,test_01.jpg,1280,720,bottle,900.864,62.28,1190.78,263.664,0.9989,6,1,answer_120,1,1,answer_120_test_01_jpg_1
1,test_01.jpg,1280,720,hand,537.472,196.848,1267.46,719.496,0.9819,1,1,answer_120,2,2,answer_120_test_01_jpg_2
2,test_01.jpg,1280,720,grab_bottle_hand,527.472,176.848,1367.46,739.496,0.8719,2,1,answer_120,3,3,answer_120_test_01_jpg_3
3,test_01.jpg,1280,720,face,537.472,196.848,1267.46,719.496,0.9219,3,1,answer_120,4,4,answer_120_test_01_jpg_4
4,test_01.jpg,1280,720,hand,337.472,296.848,1467.46,619.496,0.7777,1,1,answer_120,5,5,answer_120_test_01_jpg_5
5,test_02.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120_test_02_jpg_1
6,test_03.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120_test_03_jpg_1
7,test_04.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120_test_04_jpg_1
8,test_05.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120_test_05_jpg_1
9,test_06.jpg,1280,720,hand,5.92512,23.5656,652.032,720,0.9833,1,1,answer_120,1,1,answer_120_test_06_jpg_1
10,test_07.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1,1,answer_120_test_07_jpg_1

In [79]:
df = df.drop('result_per_obj_id', axis=1)

In [78]:
df

,filename,width,height,obj_name,xmin,ymin,xmax,ymax,score,obj_idx,per_obj_cnt,model,result_per_obj_id
0,test_01.jpg,1280,720,bottle,900.864,62.28,1190.78,263.664,0.9989,6,1,answer_120,1
1,test_01.jpg,1280,720,hand,537.472,196.848,1267.46,719.496,0.9819,1,1,answer_120,2
2,test_01.jpg,1280,720,grab_bottle_hand,527.472,176.848,1367.46,739.496,0.8719,2,1,answer_120,3
3,test_01.jpg,1280,720,face,537.472,196.848,1267.46,719.496,0.9219,3,1,answer_120,4
4,test_01.jpg,1280,720,hand,337.472,296.848,1467.46,619.496,0.7777,1,1,answer_120,5
5,test_02.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
6,test_03.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
7,test_04.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
8,test_05.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1
9,test_06.jpg,1280,720,hand,5.92512,23.5656,652.032,720,0.9833,1,1,answer_120,1
10,test_07.jpg,Null,Null,Null,Null,Null,Null,Null,Null,Null,0,answer_120,1

In [76]:
'''
int -> str 바꾸는 것은
apply 써서 하면 되고
https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string

특정문자열을 삽입하는 것은

replace 작업을 하거나 split, join 활용 하면 됨
https://stackoverflow.com/questions/53819339/how-to-insert-string-value-into-specific-column-value-on-python-pandas
'''

'\nint -> str 바꾸는 것은\n\napply 써서 하면 되고\n\n특정문자열을 삽입하는 것은\n\nreplace 작업을 하면 됨\n\n'