In [37]:
import json
import pandas as pd
import numpy as np

'''bbox[0] = 'ymin'
   bbox[1] = 'xmin'
   bbox[2] = 'ymax'
   bbox[3] = 'xmax'
# 0: ymin, 1: xmin, 2: ymax, 3: xmax'''
colum_list = ['filename', 'ans_obj_list', 'ans_obj_sum_cnt']
ans_obj_list=[]

# row_list = []

# per_file_per_object_info_list = []

df = pd.DataFrame(columns=colum_list)


with open('object_list.json') as json_file:
    json_data = json.load(json_file)
    file_name_list = list(json_data)         
    for filename in file_name_list:
        '''파일 1개당 json 정보'''
        '''case_1: json 정보 있는 경우 _ case_2: json 정보 없는 경우'''
        file_json_info = json_data[filename]
        '''case_2: json 정보 없는 경우'''
        if not file_json_info:
            ans_obj_list = 'Null'
            ans_obj_sum_cnt = 'Null'
            df = df.append(pd.DataFrame([[filename+'_', ans_obj_list, ans_obj_sum_cnt]], columns=colum_list), ignore_index=True)
        else:
            '''파일 1개당 감지된_되어야하는_object 갯수'''
            ans_obj_cnt_list = list(file_json_info)
            ans_obj_sum_cnt = len(ans_obj_cnt_list)
            for i in obj_cnt_list:
                final_info = file_json_info[i]
                obj_name = final_info['name']
                print(obj_name)
                # df = df.append(pd.DataFrame([[filename+'_', ans_obj_cnt_list, ans_obj_sum_cnt]], columns=colum_list), ignore_index=True)

        
        
        '''(위에서 json 정보 없는 경우에서 걸러짐) case_1: object 있는경우 // case_2: object 없는 경우'''
        
        '''json 내 obj, name, score, bbox, size'''

bottle
hand
grab_bottle_hand
face
hand
hand

KeyError: '1'

In [34]:
df

       filename     ans_obj_list ans_obj_sum_cnt
0  test_01.jpg_  [0, 1, 2, 3, 4]               5
1  test_02.jpg_             Null            Null
2  test_03.jpg_             Null            Null
3  test_04.jpg_             Null            Null
4  test_05.jpg_             Null            Null
5  test_06.jpg_              [0]               1
6  test_07.jpg_             Null            Null

In [38]:
df = pd.DataFrame([
    ['Apple', 7, 5, 'Fruit'],
    ['Banana', 3, 6, 'Fruit'],
    ['Coconut', 2, 6, 'Fruit'],
    ['Rice', 8, 2, 'Meal'],
    ['Beef', 5, 2, 'Meal'],
    ['Kimchi', 4, 8, 'Meal']],
    columns=["Name", "Frequency", "Importance", "Type"])

df = df.pivot_table(
    index="Importance", columns="Type", values="Frequency",
    aggfunc=np.max
)
print(df)

Type        Fruit  Meal
Importance
2             NaN   8.0
5             7.0   NaN
6             3.0   NaN
8             NaN   4.0